<div class="main">
  <form>
    <input
      [(ngModel)]="taskName"
      type="text"
      name="task-name"
      class="form-component"
      id="taskName"
      placeholder="Task Name"
    />
    <select
      [(ngModel)]="selectedOption"
      name="selection"
      class="form-component"
      id="selection"
    >
      <option value="" disabled selected>Select</option>
      <option value="easy">easy</option>
      <option value="medium">medium</option>
      <option value="hard">hard</option>
    </select>
    <button (click)="addTask()" class="form-component">Add</button>
  </form>
  <div class="container">
    <div class="child-container left">
      <div class="title">
        <p>To-do</p>
      </div>
      <div class="content">
        <p class="empty empty-1" *ngIf="true">List is empty</p>
        <ul>
          <li class="item" *ngFor="let task of tasks_and_levels; let i = index">
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="rightTransfer(i)" class="next">></button>
                <button (click)="deleteLi(i)" class="delete">x</button>
              </div>
              <div *ngFor="let level of tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="child-container middle">
      <div class="title">
        <p>In progress</p>
      </div>
      <div class="content">
        <p class="empty empty-2" *ngIf="true">List is empty</p>
        <ul>
          <li class="item" *ngFor="let task of tasks_and_levels; let i = index">
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="leftTransfer(i)" class="new-left">&lt;</button>
                <button (click)="middleRightTransfer(i)" class="next">></button>
              </div>
              <div *ngFor="let level of tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="child-container right">
      <div class="title">
        <p>Done</p>
      </div>
      <div class="content">
        <p class="empty empty-3" *ngIf="true">List is empty</p>
        <ul>
          <li class="item" *ngFor="let task of tasks_and_levels; let i = index">
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="endLeftTransfer(i)" class="new-left">&lt;</button>
              </div>
              <div *ngFor="let level of tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <button class="newBtn" (click)="toggle()">click me</button>
<div class="newDiv" *ngIf="show">hello</div>

<ul>
  <li [ngClass]="getItemClass(i+1)" *ngFor="let x of animals; let i = index">
    <span *ngIf = "i % 2 == 0">{{ i + 1 }}.</span> {{ x }}
  </li>
</ul> -->
