<div class="main">
  <form>
    <input
      [(ngModel)]="taskName"
      type="text"
      name="task-name"
      class="form-component"
      id="taskName"
      placeholder="Task Name"
    />
    <select
      [(ngModel)]="selectedOption"
      name="selection"
      class="form-component"
      id="selection"
    >
      <option value="" disabled selected>Select</option>
      <option value="easy">easy</option>
      <option value="medium">medium</option>
      <option value="hard">hard</option>
    </select>
    <button (click)="addTask()" class="form-component">Add</button>
  </form>
  <div class="container">
    <div class="child-container left">
      <div class="title">
        <p>To-do</p>
      </div>
      <div class="content">
        <p class="empty empty-1" *ngIf="message1">{{ message }}</p>
        <ul>
          <li
            class="item"
            *ngFor="let task of start_tasks_and_levels; let i = index"
          >
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="addRight1(i)" class="next">></button>
                <button (click)="deleteLi(i)" class="delete">x</button>
              </div>
              <div *ngFor="let level of start_tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="child-container middle">
      <div class="title">
        <p>In progress</p>
      </div>
      <div class="content">
        <p class="empty empty-2" *ngIf="message2">{{ message }}</p>
        <ul>
          <li
            class="item"
            *ngFor="let task of middle_tasks_and_levels; let i = index"
          >
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="addLeft1(i)" class="new-left">&lt;</button>
                <button (click)="addRight2(i)" class="next">></button>
              </div>
              <div *ngFor="let level of middle_tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="child-container right">
      <div class="title">
        <p>Done</p>
      </div>
      <div class="content">
        <p class="empty empty-3" *ngIf="message3">{{ message }}</p>
        <ul>
          <li
            class="item"
            *ngFor="let task of end_tasks_and_levels; let i = index"
          >
            <div class="task">
              <p>
                <span>{{ i + 1 }}.</span> {{ task[0] }}
              </p>
              <div class="innerBox">
                <button (click)="addLeft2(i)" class="new-left">&lt;</button>
              </div>
              <div *ngFor="let level of end_tasks_and_levels" class="bottom">
                {{ level[1] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
