<div class="container">
  <div class="child-container left">
    <div class="title">
      <i class="fas fa-tasks-alt"></i>
      <p>To-do</p>
    </div>
    <div class="content">
      <p class="empty empty-1" *ngIf="!start_tasks_and_levels.length">{{ message }}</p>
      <ul>
        <li
          class="item"
          *ngFor="let task of start_tasks_and_levels; let i = index"
        >
          <div class="task">
            <p>
              <span>{{ i + 1 }}.</span> {{ task.taskName }}
            </p>
            <div class="innerBox">
              <button (click)="addRight1(i)" class="next">></button>
              <button (click)="deleteLi(i)" class="delete">x</button>
            </div>
            <div class="bottom">
              {{ task.difficulty }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="child-container middle">
    <div class="title">
      <i class="fas fa-tasks-alt"></i>
      <p>In progress</p>
    </div>
    <div class="content">
      <p class="empty empty-2" *ngIf="!middle_tasks_and_levels.length">{{ message }}</p>
      <ul>
        <li
          class="item"
          *ngFor="let task of middle_tasks_and_levels; let i = index"
        >
          <div class="task">
            <p>
              <span>{{ i + 1 }}.</span> {{ task.taskName }}
            </p>
            <div class="innerBox">
              <button (click)="addLeft1(i)" class="new-left">&lt;</button>
              <button (click)="addRight2(i)" class="next">></button>
            </div>
            <div class="bottom">
              {{ task.difficulty }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="child-container right">
    <div class="title">
      <i class="fas fa-tasks-alt"></i>
      <p>Done</p>
    </div>
    <div class="content">
      <p class="empty empty-3" *ngIf="!end_tasks_and_levels.length">{{ message }}</p>
      <ul>
        <li
          class="item"
          *ngFor="let task of end_tasks_and_levels; let i = index"
        >
          <div class="task">
            <p>
              <span>{{ i + 1 }}.</span> {{ task.taskName }}
            </p>
            <div class="innerBox">
              <button (click)="addLeft2(i)" class="new-left">&lt;</button>
            </div>
            <div class="bottom">
              {{ task.difficulty }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>